---
interface Props {
	cardTittle: string;
	cardText: string;
    cardHref: string;
    cardImage: string;
    cardAltImage: string;
   
}

const { cardText,cardAltImage,cardHref,cardImage,cardTittle, } = Astro.props;
---
<a href={cardHref} >
<div style="-webkit-box-shadow: 0px 16px 18px -3px rgba(134,42,204,0.48);
-moz-box-shadow: 0px 16px 18px -3px rgba(134,42,204,0.48);
box-shadow: 0px 16px 18px -3px rgba(134,42,204,0.48);"
class="overflow-hidden bg-sky-200 relative isolate flex flex-col mx-4 my-8 md:mx-10 md:my-12  rounded-[6px] px-4 pb-4 w-[216px] h-[336px]  sm:w-[270px] sm:h-[420px] ">
    
    <div class="flex flex-col max-w-full max-h-full z-20">
    <h1 class="text-center text-xl sm:text-2xl text-purple-700 font-bold  h-[76px] inline-block  pt-5 ">{cardTittle}</h1>
    <div class="mb-[90px] sm:mb-[124px] -z-10"></div>
    <p class="text-stone-900 text-base sm:text-xl font-semibold">{cardText}</p>
    </div>
    
      <img src={cardImage} alt={cardAltImage} class="z-40  rounded-[6px] opacity-50 absolute inset-0 h-full w-full object-cover mix-blend-multiply hover:scale-110 transition-scale duration-1000 ease-in-out">
    

</div>
</a>

  
  